body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*nav styling*/
.logo {
    color: red;
    font-size: 1.5em;
    /* padding-left: 1%; */
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, box-shadow 0.5s ease; /* Increased transition time to 0.5s */
}

nav a {
    color: white;
    padding-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

/* .nav-links {
    padding-right: 40px; /* Extra space at the right 
} */

nav a:hover {
    color: red;
}

nav a.active-nav {
    color: red;
}

.nav-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, box-shadow 0.5s ease, top 0.5s ease-in-out; /* Increased transition time */
}

/* arrow styling */

.scroll-arrow {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  
  .scroll-arrow.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .arrow-small,
  .arrow-large {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin-bottom: 5px;
    animation: bounce 2s infinite;
  }
  
  .arrow-small {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  
/*home styling*/
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1px;
}

h1 span {
    color: red;
}

#home {
    background-color: #444444;
    min-height: 95vh;
    background: url('images/bg_image.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: start;
    color: white;
    font-size: 1.3em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;;
}

.home-content {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

#home p  {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
}

/*nav styling*/
#about {
    background-color: lightgrey;
    min-height: 90vh;
    padding-top: 30px;
}



.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }

  .about-content {
    align-items: center;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 1em;
  }

  
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 50px;
        height: 100%;
    }
  

  .about-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.about-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

.car-image {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-car-image {
    width: 65%;
    height: 65%; 
    object-fit: cover; 
    grid-column: 2;
    margin-left: auto; /* Centers the image horizontally */
    margin-right: auto;
    display: block; /* Makes the image a block element, so margin works */
    align-self: center;
    border-radius: 5%;
}

/*events styling*/
#events {
    min-height: 50vh;
    padding: 30px;
}

.events-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 20px;
    
}

.events-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

.events-intro {
    text-align: center;
}

.events-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
}

.event-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center;
}

.event-list li {
    font-weight: bold; 
    font-size: 1rem; 
    margin: 40px 0; 
    text-transform: uppercase;
}

/*driver styling*/

#drivers {
    min-height: 75vh;
    background-color: black;
    color: white;
    padding: 30px;
}

.drivers-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.drivers-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

.drivers-section{
    display: flex; 
    justify-content: space-around; 
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.driver-card {
    width: 20%;
    background-color: #444444;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.driver-card:hover {
    transform: scale(1.1); 
  }

.driver-image{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.driver-intro {
    text-align: center;
}

.driver-content {
    text-align: center;
    font-weight:bold;
    text-transform: uppercase;
}

.driver-content span {
    color: red;
}

/*driver styling*/

#cars {
    background-color: lightgrey;
    padding: 20px;
}

.cars-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.cars-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

.car-photo {
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.cars-section {
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
    text-align: center;
}

.car-description {
    width:40%;
    background: white;
    border-radius: 10px;
    padding:10px;
    margin: 5%;
    transition: transform 0.3s ease;
}

.car-description:hover {
    transform: scale(1.2); 
    padding: 3%;
    transition: transform 0.5s ease-in-out; 
  }

.car-description:hover img {
transform: scale(1.2);
transition: transform 0.3s ease-in-out; 
}


/*form styling*/

#calender-system {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 7%;
}

#event-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
    width: 60%; 
    margin: 0 auto; 
    text-align: left;
}

.calendar-system-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.calendar-system-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

#event-form input, 
#event-form select {
    width: 100%; 
    padding: 12px; 
    font-size: 16px; 
    box-sizing: border-box; 
}

#create-event-btn {
    width: 20%;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 5% auto 0 auto;
    font-size: 1.25em;
}

#event-display {
    display: none; 
}

#event-display-title {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#event-display-title::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background-color: red; 
    margin: 10px auto 0;
}

#event-display {
    width: 60%;
    margin: 0 auto;
}

#event-submissions {
    display: flex;
    flex-wrap: wrap; 
    gap: 5%;
    justify-content: center; 
    margin: auto;
}

.event-container {
    font-size: 1em;
    padding: 3%;
    border: 2px solid #ddd;
    border-radius: 10%;
    display: inline-block;
    box-sizing: border-box;
    z-index: 1000;
}

.event-container:hover {
    transform: scale(1.5)
}

.event-actions {
    display: none;
    gap: 1%;
}

.event-container:hover .event-actions {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.edit-btn, .delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 0.8em;
    margin: auto 0;
    margin-top: 3%;
}


/*footer styling*/

.footer {       
    background-color: rgba(0, 0, 0, 0.8);  
    color: white;             
}

.footer-content {
    display: flex;         
    justify-content: space-between; 
    align-items: flex-start;
    gap: 10%;              
    padding: 20px;  
    margin-left: 10%; 
    margin-right: 10%; 
}

.branding {
    flex: 1;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    align-items: flex-start;
}

.socials {
    list-style-type: none; 
    padding: 0; 
    text-align: left;
}

.socials a {
    display: block; 
    color: white; 
    margin: 10px;
    text-decoration: none; 
    font-size: 0.75em;
}

.find-us p {
    font-size: 0.75em;
}

.branding p {
    font-size: 0.75em;
}

.contact-us p {
    font-size: 0.75em;
}

.contact-us {
    text-align: left;
}

